.CodeMirror-line-numbers {
  background-color:#333333;
  color:#999999;
  font-size:10pt;
  line-height:1.2em;
  margin:0;
  padding:0.4em;
  text-align:right;
  width:1.5em;
}

.CodeMirror-wrapping {
  border: 1px solid #D7D7D7;
}

.editbox {
  padding: .4em;
  margin: 0;
  font-family: consolas, monospace;
  font-size: 10pt;
  line-height: 1.2em;
  color: black;
  background-color:#F6F6F6;
}

.editbox .rb-linenum {
  background-color:#EEEEEE;
  color:#888888;
  padding:0.1em 1em 0.2em 0;
  width:75px;
}
.editbox .rb-pan {
  padding-bottom:0.1em;
  padding-top:0.2em;
}

.editbox .rb-comment, .editbox .rb-long-comment {
  color:#999;
  font-style:italic;
}

.editbox .rb-method-parameter {
  color: #990073;
}

.editbox .rb-variable, .editbox .rb-method-call {
  color: #008080;
}

.editbox .rb-long-comment-whitespace {}

.editbox .rb-symbol, .editbox .rb-fixnum, .editbox .rb-ascii {
  color:#009999;
}
.editbox .rb-hexnum, .editbox .rb-binary {
  color:#009999;
}
.editbox .rb-float {
  color:#009999;
}
.editbox .rb-entity {
  color:#89BDFF;
}
.editbox .rb-keyword, .editbox .rb-operator {
  color:black;
  font-weight: bold;
}
.editbox .rb-storage {
  color:#99CF50;
}
.editbox .rb-string, .editbox .rb-heredoc, .editbox .rb-exec {
  color:#dd1144;
}
.editbox .rb-class, .editbox .rb-constant, .editbox .rb-instance-var {
  color: #008080;
}
.editbox .rb-global-variable {
  color:#61B2DF;
  font-style: italic;
}
.editbox .rb-class-var {
  color:#8BC9DF;
}

.editbox .rb-string .constant {
  color: #008080;
}

.editbox .rb-regexp {
  color:#DF5045;
}
.editbox .rb-method {
  color:#990000;
  font-weight: bold;
}
